@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@theme {
  --color-primary: #6c25ff;
  --color-secondary: #cebafb;
  --color-base: #f7f8f9;
  --font-inter: "Inter", "sans-serif";
}
